.title{
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
}
.list:hover{
    overflow: overlay;
}
.list{
    display: flex;
    overflow-x: hidden;

}

.tvshow_item{
    margin-right: 10px;
}